body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: relative;
  color: #4D494A
}

.wrapper {
	max-width: 1240px;
}

.h1 {
	font-weight: 700;
	font-size: 3em;
}

.h2 {
	font-weight: 700;
	font-size: 2em;
}

.h3 {
	font-weight: 600;
	color: #736D6E;
}

.h5 {
	color: #736D6E;
}


/*BUTTONS*/
.btn {
	background-color: #4D494A;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid #4D494A;
	transition: all 0.2s ease-in-out;
	outline: 0;
}

.btn:hover {
	background-color: transparent;
	color: #4D494A
}

.button-secondary {
	background-color: #736D6E;
	color: #fff;
	border-color: #736D6E;
}

.button-animate {
	padding-left: 30px;
	padding-right: 14px;
}

.button-animate i {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.button-animate:hover {
	padding-left: 12px;
	padding-right: 12px;
}

.button-animate:hover i {
	opacity: 1;
}

/*ANIMATIONS*/

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


/*NAVBAR SECTION START*/

.navbar {
	background-color: #fff;
}

.navbar-toggler-icon {
	color: #4D494A;
}

.navbar-brand {
	animation-name: bounceInLeft;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.navbar-nav {
	animation-name: bounceInDown;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.nav-link {
	color: 	#4D494A;
	text-transform: uppercase;
	font-size: 0.925em;
	text-align: center;
	transition: 0.25s ease-in-out;
	border-bottom: 1px solid #fff;
}

.nav-link:hover, .nav-link:active {
	color: #000;
	border-bottom: 1px solid #000;
}

.social-icon {
	font-size: 1.2em;
	font-weight: 400;
}

@media screen and (max-width: 710px) {
	.social-icon {
		display: none;
	}
}

.nav-item .active {
	color: #000;
	border-bottom: 1px solid #000;
}

/*NAVBAR SECTION END*/

/*HEADER SECTION START*/

.header {
	min-height: 400px;
	background: linear-gradient( 143deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.7) 100%),
  	url(../img/background_header.jpg)  center center no-repeat / cover;
}

.header .container-fluid {
	min-height: 400px;
}

/*HEADER SECTION END*/

/*EXAMPLES SECTION START*/

.examples {
/*	min-height: 100vh;*/
	background: linear-gradient( 143deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.6) 100%), #f1f1f1 url(../textures/tiny-squares.png)  center center repeat;
	box-shadow: 0 -0.125rem .1rem rgba(0,0,0,.075);
}

.card {
	margin-top: 30px;
	box-shadow: 0.175rem 0.175rem .1rem rgba(0,0,0,.075);
	transition: all 0.4s ease-in-out;
	animation: bounceInLeft 1s;
}

@media screen and (min-width: 1024px) {
	.card:hover {
		-webkit-transform:scale(1.05, 1.1);
		transform: scale(1.05, 1.1);
	}
}

.card__container_img {
	position: relative;
}

.card__img {
	background-color: #4D494A;
	transition: opacity 0.4s ease-in-out;
}

.img__icon-zoom {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #000;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.card:hover .card__img{
	opacity: 0.7;
}

.card:hover .img__icon-zoom{
	opacity: 0.7;
}
/*EXAMPLES SECTION END*/


/*MEDIA QUERIES*/
