@import url('/css/btn-return.css');

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
	max-width: 1440px;
}

.wrapper-sm {
	max-width: 800px;
}

.wrapper-xs {
	max-width: 660px;
}

.header {
	width: 100%;
	height: 750px;
  	background: linear-gradient( 143deg, rgba(29,233,182,0.9) 0%, rgba(0,184,212,0.9) 100%),
  	url(../img/header_background.jpg)  center center no-repeat / cover;
}

.section {
	padding-top: 9vh;
	padding-bottom: 9vh;
}

.card-head {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

/*ANIMATIONS*/

@keyframes slideIn {
	from {
		transform: translate3d(0, 100%, 0);
    	visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

/*ICONS*/

.icon-large {
	font-size: 80px;
	line-height: 1.667;
}

.icon-medium {
	font-size: 30px;
	line-height: 1.667;
}

.icon-small {
	font-size: 20px;
	line-height: 1.25;
}

.icon-lightBlue {
	color: #80d8ff;
}

.icon-blue {
	color: #82b1ff;
}

.icon-darkBlue {
	color: #061e37;
}

.icon-purple {
	color: #b388ff;
}

.icon-pink {
	color: #ea80fc;
}

.icon-rounded {
	width: 60px;
	height: 60px;
	background-color: #fff; 
}

/*SHADOW PROPERTIES*/

.box-shadow {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

/*BUTTONS*/

.button-styled {
	min-width: 120px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 20px;
	background-color: #061E37;
	color: #fff;
	transition: 0.2s ease-in-out;
}

.button-header {
	border: 2px solid #061E37;
}

.button-header:hover, .button-header:hover  {
	color: #061E37;
	background-color: #fff;
	font-weight: 400;
}

.button-section {
	color: #fff;
	background-color: #1DE9B6;
	border: 2px solid #1DE9B6;
}

.button-section:hover, .button-section:active  {
	background-color: #fff;
	color: #1DE9B6;
	font-weight: 400;
}

.section__collapser:link, .section__collapser:visited,.section__collapser:hover,.section__collapser:active {
	text-decoration: none;
	color: #061e37;
	padding: 0;
}

.collapser {
	font-size:  1.5625em;
	margin-left: auto;
}

/*BG COLORS*/

.bg-color-lightBlue {
	background-color: #80d8ff;
}

.bg-color-blue {
	background-color: #82b1ff;
}

.bg-color-darkBlue {
	background-color: #061e37;
}

.bg-color-purple {
	background-color: #b388ff;
}

.bg-color-pink {
	background-color: #ea80fc;
}

/*FORMS*/

.form-styled {
	color: #061e37;
	font-size: 0.9375em;
	font-weight: 500;
	border-color: #061e37;
	background-color: #fafafa;
}

/*Nav Section START*/

.navigation {
	padding-top: 50px;
}

.navigation__link {
	font-size: 15px;
	font-weight: 600;
	transition: 0.15s ease-in-out;
}

.navbar__main li {
	padding-right: 12px;
	padding-left: 12px;
}

.navigation__link:link, .navigation__link:visited {
	color: #fff;
}
.navigation__link:hover, .navigation__link:active {
	color: #061E37;
}

.navigation__button {
	font-size: 12px;
	border: 1px solid #fff;
	border-radius: 2px;
}

.navigation__button:hover, .navigation__button:active {
	border-color: #061E37;
}

.navigation__toggler, .navigation__toggler:hover {
	font-size: 1.5em;
	color: #fff;
}

/*Header Section START*/

.header__content {
	min-height: 650px;
}

.header__h1 {
	font-weight: 800;
	font-size: 3.4375em;
	text-transform: uppercase;
	color: #fff;
	animation-name: slideIn;
	animation-duration: 0.3s;
}

.header__p {
	font-size: 18px;
	color: #fff;
	line-height: 1.9;
}
/*Header Section END*/

/*Content Section START*/

.about {
	background-color: #fff;
}

.section_h2 {
	font-size: 2.8125em;
	font-weight: 600;
	color: #061e37
}

.section_h3 {
	font-size: 1.5625em;
	font-weight: 600;
	color: #b0bec5
}

.section_h4 {
	font-size: 1.25em;
	font-weight: 600;
	color: #061e37
}

.section_p {
	font-size: 0.9375em;
	line-height: 1.667;
	color: #b0bec5;
}

/*Stats Section*/

.stats__text {
	width: 140px;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1.25;
	font-weight: 800;
	color: #fff;
	padding-left: 20px;
}

/*Services Section*/

.p-card {
	font-size: 0.9375em;
	line-height: 1.6666;
	letter-spacing: 0.03em;
}

.section__card {
	margin-top: 20px;
}

/*Comments Section*/

.comments {
	width: 100%;
  	background: linear-gradient( 143deg, rgba(29,233,182,0.95) 0%, rgba(0,184,212,0.95) 100%),
  	url(../img/rewiew_background.jpg)  center center no-repeat / cover;
}

.comments__card {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.comments__comment {
	background-color: #fff;
	padding: 1.75em;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.avatar {
	height: 60px;
	width: 60px;
	margin-right: 3vw;
}

.comments__author {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.388;
	color: #061e37;
}

.comments__text {
	font-size: 0.9375em;
	line-height: 1.6666;
	font-style: italic;
	color: #78909c;
}

/*Team Section*/

.team__pill-toggler {
	display: block;
	width: 100px;
	height: 100px;
	opacity: 0.2;
}

.nav-pills .active {
	opacity: 1;
}

.tab-pane {
	animation-name: slideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

.link-social, .link-social:link, .link-social:visited  {
	color: #90a4ae;
	transition: 0.3s;
}

.link-social:hover, .link-social:active  {
	color: #061e37;
}

.link-social +.link-social {
	padding-left: 25px;
}

/*Contacts Section*/

.contacts {
	background-color: #fafafa;
}

.contacts__text {
	color: #061e37
}
/*Content Section END*/

/*Footer Section START*/

.footer {
	background-color: #061e37;
	font-size: 0.9375em;
}

.footer__link-social, .footer__link-social:link, .footer__link-social:visited  {
	color: #fff;
	transition: 0.3s;
	opacity: 0.3;
	text-decoration: none;
}

.footer__link-social:hover, .footer__link-social:active  {
	opacity: 1;
}

.footer__link-social + .footer__link-social {
	padding-left: 15px;
}

.footer__link:link, .footer__link:visited {
	color: #fff;
	opacity: 0.7;
}

.footer__link:hover, .footer__link:active {
	opacity: 1;
}

/*Footer Section END*/

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
	.header {
		height: auto;
	}

	.navigation {
	padding-top: 15px;
	}

